:root {
  /* Change this to change the appearance of the hexaons */
  --hex-width: 120px;
  --hex-between: 15px;

  /* Other hexagon dimentions */
  --hex-height: calc(var(--hex-width) / 1.73); /* sqrt(3) */
  --hex-margin: calc(var(--hex-width) / 2);
  --hex-border: calc(var(--hex-margin) / 1.73); /* sqrt(3) */
  --hex-transition: all 0.2s ease;

  /* Colors */
  --color-hex-default: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  font-size: 62.5%;
  height: 100%;
}
body {
  font-size: 1.8rem;
  line-height: 1.6;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: var(--text-secondary);
  overflow-x: hidden;
}

.container {
  max-width: 80rem;
  margin: 10rem auto;
  width: 100%;
}

/* Skills===================== */

.hexagons {
  display: grid;
  /* grid-template-columns: var(--hex-width) var(--hex-width) var(--hex-width); */
  grid-template-columns: repeat(auto-fill, var(--hex-width));

  grid-auto-rows: calc(var(--hex-width) - var(--hex-height) / 2);
  grid-gap: var(--hex-between) var(--hex-between);
  padding-bottom: var(--hex-border);
}
.hexagon {
  align-items: center;
  background-color: var(--color-hex-default);
  cursor: pointer;
  display: flex;
  fill: white;
  height: var(--hex-height);
  justify-content: center;
  margin: var(--hex-border) 0;
  position: relative;
  transition: var(--hex-transition);
  width: var(--hex-width);
}
.hexagon::after,
.hexagon::before {
  border-left: var(--hex-margin) solid transparent;
  border-right: var(--hex-margin) solid transparent;
  content: "";
  left: 0;
  position: absolute;
  transition: var(--hex-transition);
  width: 0;
}
.hexagon::after {
  border-top: var(--hex-border) solid var(--color-hex-default);
  top: 100%;
  width: 0;
}
.hexagon::before {
  border-bottom: var(--hex-border) solid var(--color-hex-default);
  bottom: 100%;
}

.hexagons:nth-child(2n + 1) {
  margin-left: calc(var(--hex-width) / 2 + var(--hex-between) / 2);
}

.border-1,
.border-2,
.border-3 {
  position: absolute;
  width: 100%;
  height: var(--hex-height);
  top: 0px;
  left: 0;
  border-left: 3px solid;
  border-right: 3px solid;
  border-radius: 8px;
  z-index: 2;
  border-color: red;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.border-2 {
  transform: rotate(60deg);
}

.border-3 {
  transform: rotate(120deg);
}

.border-3::before {
  display: none;
  position: absolute;
  content: "";
  bottom: 10%;
  left: 42px;
  width: 50%;
  height: 83%;
  background-color: rgba(255, 255, 255, 0);
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: white;
  border-radius: 50%;
  visibility: visible;
  z-index: -1;
  /* transform: rotate(60deg); */
}
